<configuration>
    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>

        <logger name="com.example" level="DEBUG"/>
        <logger name="org.apache.camel" level="ERROR"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    </springProfile>
</configuration>
